<!DOCTYPE html> <html> 	<head> 	<title>Seitentitel</title>	<meta name="author" content="Patrick Lobacher / info@typovision.de / 089 - 18 92 08 70" />	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />	<script xsrc="http://code.jquery.com/jquery-1.4.3.min.js"></script>	<script xsrc="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script></head> <body> <div data-role="page">	<div data-role="header">		<h1>Seitentitel</h1>	</div><!-- /header -->	<div data-role="content">			<p>Hier wird der Inhalt erscheinen.</p>			</div><!-- /content -->	<div data-role="footer">		<h4>Footer</h4>	</div><!-- /header --></div><!-- /page --></body></html> 